.hero {
    min-height: 100vh;
    background-image: url("../img/hero-back.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: right;

    @include media-tablet {
        min-height: auto;
    }
}

.header {
    padding-top: 18px;
    margin-bottom: 250px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    display: flex;
    gap: 60px;
}

.header__list {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.header__logo-title {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.4;
    color: var(--color-logo);
}

.header__button-link {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    width: 160px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding: 4px 0px;  
    background: var(--color-button);
    color: white;

}

.hero-content {
    width: 540px;
    display: float;

}

.hero__title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.32;
    color: var(--color-main-title);
    padding-bottom: 20px;
}

.hero__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 15px;
}

.hero__buttons {
    padding-top: 54px;
    display: flex;
    gap: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    padding-bottom: 15px;
    color: var(--color-button);

    :nth-child(1) {
        background: var(--color-button);
        color: white;
    }
}

.hero__link {
    width: 189px;
    display: inline-block;
    border: 2px solid;
    border-radius: 2px;
    text-align: center;
    padding: 5px 0px;  
}