@mixin media-tablet {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin media-phone {
    @media (max-width:767px) {
        @content;
    }
}

@mixin logo {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.4;
    color: var(--color-logo);
}